<div>
    <section class="hero">
<div class="heading">
    <h1>About Us</h1>
</div>
<div class="container_about">
    <div class="hero-content">
        <h2>Welcome To Our Website</h2>
        <p>Embark on a journey of scientific exploration. Our blog unravels the mysteries of the universe, delves into groundbreaking discoveries, and celebrates the wonders of human curiosity and innovation.</p>
        <button class = "cta-button">learn More</button>
    </div>
    <div class="img-nature1">
        <img src="./img/img-nature1.jpg" alt="">
    </div>
</div>
</section>
</div>
